.pictures-container {
 	display: flex; 	
 	flex-direction: row;
 	flex-wrap: wrap;
 	display: flex;
  justify-content: space-between;
 	&-el {
 		position: relative; 		
 		img { 			
 			width: 250px;
 			height: 200px;
 			border-radius: 5px;
 			border: 1px solid rgba(0, 0, 0, 0.06);
 		}
 		&-name {
			position: absolute;
    		bottom: 16px;
    		right: 100px;
    		color: white;
 		}
 		&-date {
			position: absolute;
		    top: 13px;
		    left: 12px;
		    font-size: 11px;
		    color: white;
 		}
 		&-day {
			position: absolute;
		    top: 13px;
		    right: 12px;
		    font-size: 11px;
		    color: white;
 		}
 	}
 }

 .delete-button {
 	text-align: center
 }